<header class="header">
    <button style="float: right"class="watchButton" id="accCab" onclick=""><a href="/accCab">Favourites</a></button>
    <button style="float: right"class="watchButton"><a href="/">Change account</a></button>
    <button style="float: right"class="watchButton"><a href="/recFilms">Recommended films</a></button>
</header>