.wrapper{
    margin-left: 20px;
}

img{
    width: 80px;
    height: 120px;
    border-radius: 3%;
}

a{
  text-decoration: none;
  color: #070707de;
}
.recFilmDiv{
  float: left;
  height: 400px;
  width: 200px;
  margin-left: 20px;
  position: relative;
}
.watchButton{
  background: #f2f6f8;
  border: 1px solid #7a7b7e;
  width: 200px;
  height: 40px;
  border-radius: 30px;
  margin-top: 10px;
  position: absolute;
  bottom:0;
}
.watchButton:hover{
  border: black;
}